* {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif!important;
  font-size: 14px;
  /* color: #292D32; */
}

::-webkit-scrollbar {
  appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #babac0;
  box-shadow: 0 0 1px rgba(255,255,255,.5);
}