* {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif!important;
  font-size: 14px;
  /* color: #292D32; */
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 9px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}