* {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif!important;
  font-size: 14px;
  /* color: #292D32; */
}

::-webkit-scrollbar {
  appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #babac0;
  box-shadow: 0 0 1px rgba(255,255,255,.5);
}

body {
  /* background: rgb(216,252,233)!important;
  background: linear-gradient(90deg, rgba(216,252,233,1) 0%, rgba(255,255,255,1) 50%, rgba(216,252,233,1) 100%)!important; */

  background: rgb(240,255,247)!important;
background: linear-gradient(90deg, rgba(240,255,247,1) 0%, rgba(255,255,255,1) 50%, rgba(240,255,247,1) 100%)!important;
}

